#Minecraft server properties
#Wed Jun 17 01:38:38 CDT 2015
spawn-protection=16
query.port={{ instancePort }}
generator-settings=
force-gamemode=false
allow-nether={{ allowNether }}
gamemode={{ instanceGamemode }}
enable-query={{ instanceQueryEnabled }}
player-idle-timeout=0
difficulty={{ instanceDifficulty }}
spawn-monsters={{ spawnMonsters }}
op-permission-level=4
resource-pack-hash=
announce-player-achievements=true
pvp={{ pvpEnabled }}
snooper-enabled=false
level-type=DEFAULT
hardcore=false
enable-command-block=false
max-players={{ maxPlayers }}
network-compression-threshold=256
max-world-size=29999984
server-port={{ instancePort }}
debug=false
server-ip={{ instanceIP }}
spawn-npcs={{ spawnNPCs }}
allow-flight=false
level-name={{ levelName }}
view-distance=10
resource-pack=
spawn-animals={{ spawnAnimals }}
white-list=false
generate-structures=false
online-mode={{ instanceOnlineMode }}
max-build-height=256
level-seed={{ instanceSeed }}
use-native-transport=true
enable-rcon=false
motd={{ instanceMOTD }}
